.bg-img {    
    height: 90vh;
    overflow:auto;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .8;
  }

  .main-header {
    padding-top:2%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    }
  .main{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
  .main-overview{
    padding-top:7%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
  }

  .main-overview > * {
        flex: 0 0 200px;
        margin-bottom:25px;
      }
  